[2017-10-30 07:19] Anupam-dagar opened #13 "form me on github hyperlink not working"
Although hyperlink is there, but nothing is happening on clicking it.

[2017-10-30 07:30] #13 closed

[2017-10-30 07:30] gauthamzz commented on #13
I need more sleep :smile: I'll fix after that.
Install and see it

[2017-10-30 07:31] Anupam-dagar commented on #13
yeah i'll fix, I opened the issue in wrong repo :stuck_out_tongue:

[2017-10-30 07:33] gauthamzz commented on #13
Both are same only, we used the same webpage for extension home page( the one you see when extension opens) and website.
The folder elate contains the website in this repo. :smile:

[2017-10-31 10:16] gauthamzz opened #15 "Make trigger shortcut key"
Anna presently works on a speech trigger “hey” instead it should work when a trigger like a shortcut key is pressed. Code is in background.js

[2017-11-01 14:06] gauthamzz opened #16 "Recognition not working in certain systems"
Recognition using tts of chrome is not working in some systems.

[2017-11-01 14:13] gauthamzz opened #17 "Make the reply text to be read"
you need to call speech in fulfilment and say it back in this line https://github.com/Anna-Assistant/Anna/blob/master/background.js#L189

setResponse(); --- Function can be used to say the reponse

An example of json response is given below.
{
  "id": "",
  "timestamp": "",
  "lang": "en",
  "result": {
    "source": "agent",
    "resolvedQuery": "how to go from Allahabad to Kanpur",
    "action":

[2017-11-02 18:42] brainstormm commented on #17
nigga working hard on this project.

[2017-11-02 18:43] gauthamzz commented on #17
@brainstormm Stop cracking lame jokes on GitHub, be professional :smile:

[2017-11-02 18:45] gauthamzz opened #18 "New features to be added"
Suggestions for new features to added on this thread.

[2017-12-04 17:28] dgupta777 opened #19 "''"

[2017-12-04 17:29] #19 closed

[2017-12-04 17:30] dgupta777 opened #20 "Fix 'Fork Me On Github' Link"

[2017-12-04 17:31] dgupta777 commented on #20
I am working on this.

[2017-12-04 17:44] gauthamzz commented on #20
solved at #21

[2017-12-04 17:44] #20 closed

[2017-12-04 17:49] gauthamzz opened #22 "Add browser features"
add functionality for
- downloads
- history

[2017-12-04 17:51] gauthamzz opened #23 "Add more than one voice"
Add functionality more than one voice
the code is at the bottom of background.js

Addition of male voice is needed
Change the voice using the pop up is required

[2017-12-05 17:06] gauthamzz commented on #22
solved at #24

[2017-12-05 17:06] #22 closed

[2017-12-06 02:59] srvkmr130 commented on #18
Hey this feature can be added: OPEN in safe mode feature
Where when user tells open in safe mode automatically after surfing, today's record(history) will be deleted from the history panel.
How this is ?

[2017-12-06 09:29] gauthamzz commented on #18
Do you mean incognito ?

[2017-12-06 11:18] srvkmr130 commented on #18
YES !!!

[2017-12-06 11:19] srvkmr130 commented on #18
it would be like adding more features.

[2017-12-06 18:26] gauthamzz commented on #18
okay you can do it :+1:

[2017-12-07 10:10] gauthamzz opened #26 "Add tell me a joke feature"
Keep an array of jokes and read it back to the user when indent is joke. The work in api.ai is already done

when user says "tell me a joke" ,  "tell a joke " ,"joke"  or "make me laugh "

[2017-12-07 10:12] gauthamzz opened #27 "Improve design of the pop up"
The pop up looks pretty bad.

Skills required CSS

[2017-12-07 10:14] gauthamzz opened #28 "Add open in safe mode"
When user says open in safe mode. Open a new incognito tab

User says

"open in safe mode"
"safe mode"
"incognito"
"private browsing"

indent name is incognito

[2017-12-07 10:18] gauthamzz opened #29 "Add readme instructions on how to install from zip file"

[2017-12-07 10:38] gauthamzz opened #30 "Add "What is this" feature"
If an image is the browser . Anna will reverse image search what that image is using google and tell the user what that is.

Comment before doing this issue and discuss how you will solve it.

[2017-12-08 02:59] srvkmr130 commented on #18
done open in safe mode..

[2017-12-08 04:28] anandwana001 commented on #15
@gauthamzz I would like to contribute to this

[2017-12-08 05:39] anandwana001 opened #34 "GitHub Ribbon"
![image](https://user-images.githubusercontent.com/25057618/33752352-6b961f1c-dc07-11e7-8df5-a080aa0bd98a.png)

can we add GitHub ribbon instead of just text?

[2017-12-08 09:51] gauthamzz commented on #34
It doesnt look good with the present site. Thats why i didnt add it.

[2017-12-08 09:51] #34 closed

[2017-12-08 09:52] gauthamzz commented on #15
assigned to @anandwana001

[2017-12-08 10:00] gauthamzz commented on #29
closed at #31

[2017-12-08 10:01] gauthamzz commented on #28
being solved at #33

[2017-12-08 14:00] nvinayvarma189 commented on #26
I want to add some good jokes, but I can't find the code related to this issue.Can you please help me?

[2017-12-08 14:45] gauthamzz commented on #26
One person is already working on this issue. please work on other issues

[2017-12-08 17:21] srvkmr130 commented on #28
issue solved and i have sent a new pr !!

[2017-12-10 06:26] #28 closed

[2017-12-10 06:27] #26 closed

[2017-12-10 06:27] #27 closed

[2017-12-10 07:55] gauthamzz opened #45 "Redesign Logo for Anna"
Looking for minimal, Futuristic logo maybe with some transitions.

[2017-12-10 08:32] srvkmr130 commented on #45
I will do this.

[2017-12-10 14:39] gauthamzz commented on #45
You can suggest it at the comment, more than one people can try

[2017-12-10 15:24] srvkmr130 commented on #45
ok will do the same....

[2017-12-11 07:22] gautamramuvel commented on #17
Can you please explain the issue even more simpler.

[2017-12-11 12:06] gauthamzz commented on #17
When you use Anna .
You - open Facebook
Anna - you said open Facebook
Then opening task happens right .

Instead make this
You - open Facebook
Anna- opening Facebook

Given by result.fullfilement.speech as per the json

[2017-12-11 12:09] gauthamzz opened #49 "Feature screenshot"
Take screenshot of the screen when user says Anna "take screenshot" . Intent name screenshot

[2017-12-11 12:13] gauthamzz opened #50 "Feature calander"
Add an event using google calander .

Eg set up a meeting with Evan at 9pm tomorrow

Indent name calander

use sys.any,sys.date and sys.time

[2017-12-11 12:17] gauthamzz opened #51 "Feature restaurant"
Eg: find good restaurants

Indent name restaurants.

May need api.ai help. Text me on zulip for that

@sys.geo-city has the value of the city

[2017-12-11 14:00] sanketgautam commented on #49
Hey! I would like to work on this feature @gauthamzz

[2017-12-11 14:23] gautamramuvel opened #52 "Toggle button not displaying properly in the pop up"
The toggle is not functioning, so the speech recognition is not activated.

[2017-12-11 16:18] sanketgautam commented on #17
Hi @gauthamzz  I got this one, I'll be working on this issue

[2017-12-11 16:56] gauthamzz commented on #17
could you work on one issue at a time, you can do this after finishing the screenshot one. untill then let it be open

[2017-12-11 16:56] gauthamzz commented on #52
yes working on that :smile:

[2017-12-11 16:56] gauthamzz commented on #49
@skg234  assigned to you

[2017-12-11 17:43] gauthamzz commented on #52
https://github.com/DHTMLGoodies/jquery-on-off-switch is used for the button .

[2017-12-11 17:43] #52 closed

[2017-12-11 18:22] gautamramuvel commented on #17
Then.. I will take this issue.!

On 11-Dec-2017 10:26 PM, "Gautham Santhosh" <notifications@github.com>
wrote:

[2017-12-12 07:41] anandwana001 commented on #15
@gauthamzz does everything related to this issue is in background.js only?

[2017-12-12 13:16] gauthamzz commented on #15
yes, background.js does all the functionalities in a chrome extension. but when a shortcut key is pressed. trigger no longer should be said/ trigger is "hey"

[2017-12-12 16:22] anandwana001 commented on #15
@gauthamzz we have to work on extension part

[2017-12-12 16:38] gauthamzz commented on #15
I was thinking more off like a button in popup.html to enable trigger via voice or shortcut . You can do the shortcut part. The latter will be done as a diffrent pr

[2017-12-12 17:04] #49 closed

[2017-12-13 17:04] gauthamzz opened #60 "Systems getting slow after longer use"
After prolonged use of the assistant on a system,it has been found that the browser is getting slower.

[2017-12-15 01:19] gauthamzz opened #61 "Create floating chat"
- Add a small chat like button at the right corner of the screen (movable in the future)
- When the user clicks the button a chat with Anna and the user starts, every conversation between user and Anna will be there from that moment.
- This issue requires one to just make the front end of the problem.

The idea is user should be able to see a floating chat at his screen all the time.

[2017-12-16 10:15] gauthamzz commented on #30
intent name : reversesearch
user says: "whats on the page?" "what is this?" "whats on the screen?" "reverse search"

[2017-12-16 10:21] sanketgautam commented on #30
Hey, After going through several possibilities, I have a plan for implementation of this feature,

1. We can use Chrome Extensions API to take screenshot of the current/active tab. (it has already been done in the Screenshot Feature, we can use that method)

2. Then we can upload the screenshot file to file.io using it's HTTP API
     -  It has a limit of 100 requests per day & for a free plan doe

[2017-12-16 10:22] gauthamzz commented on #30
assigned to @skg234

[2017-12-16 12:39] #30 closed

[2017-12-16 13:28] gauthamzz opened #64 "crop the image during reverse search and screenshot feature"
User: "screenshot:
Anna: " you said screenshot"
Anna: " Do you want to crop the image?"
User: "yes"
then a crop the screen before the screenshot page opens

It is preferred to be done inside the page itself. If that is not possible and comes only when in the screenshot page which we have right now. Its also fine.

[2017-12-16 13:40] gauthamzz commented on #51
added feature via commit https://github.com/Anna-Assistant/Anna/commit/0f4afa4150432ce8c9a6f338c58bf7d23537233a by @gauthamzz

[2017-12-16 13:40] #51 closed

[2017-12-18 15:25] gauthamzz commented on #17
solved via commit https://github.com/Anna-Assistant/Anna/commit/82a19a255700da58fcda5e9bd0c0247ca25f3f02 by @gauthamzz

[2017-12-18 15:25] #17 closed

[2017-12-18 18:19] sanketgautam commented on #64
@gauthamzz I'll take this issue

[2017-12-18 21:33] gauthamzz commented on #64
assigned to @sanketgautam

[2017-12-20 13:17] gauthamzz opened #71 "First install needs"
When user first installs the extension , make an interactive way to make user aware of how to use Anna.

requires:-

- one or two example commands
- making user check if his microphone is working

[2017-12-20 13:18] #64 closed

[2017-12-20 13:19] gauthamzz commented on #50
closed via #68

[2017-12-20 13:19] #50 closed

[2017-12-20 13:23] gauthamzz opened #72 "Url based actions"
Actions which can be done via url

for example https://www.google.co.in/search?q= is the url for google search.

These can be used to add simple features for Anna.

[2017-12-20 13:25] gauthamzz opened #73 "Read push notifications as they come"
When push notifications come on the browser read them to the user.
Need to add a button to enable this in pop up

[2017-12-20 13:26] gauthamzz opened #74 "Write documentation for Anna"
Should contain:

How files are arranged
How to add new features
How it works
How to Install

[2017-12-20 13:29] gauthamzz opened #75 "create Pull Request Template"
Should check for:-

1. Issue is linked in the commit
2. Proper commit messages are written
3. Refer template of any open source project you like and follow similar

[2017-12-20 16:09] srvkmr130 commented on #74
This should be done in md format or simply txt ?

[2017-12-20 18:06] gauthamzz commented on #74
markdown

[2017-12-23 09:41] gauthamzz opened #78 "Show users that voice recognition is working in the system"
Users might have the voice mute or soundcard problem should know that anna is working properly but rather its a problem of the system.

One way is to show what they say in a text box in pop up
or if pop up is open and user is not speaking anything a small indicator can also work.
Other ideas are welcome

[2017-12-23 09:42] gauthamzz commented on #15
@anandwana001 are you still working on this?

[2017-12-23 19:44] mmBabol commented on #74
Hi @gauthamzz can I take this issue?? I'm relatively new to open source and would love to work on this

[2017-12-23 20:11] gauthamzz commented on #74
Actually @srvkmr130 was working on it. You can talk to him on our channel in zulip . Link in readme and split the work and do it

[2017-12-24 01:16] srvkmr130 commented on #74
@mmBabol I have done with arrangement of files and how to add new fetaures..You may take the other rest 2,if you wish.Just inform the mentor before taking the issue.

[2017-12-24 22:41] gauthamzz opened #80 "Optimise code"
- Remove redundant code
- The extension increases cpu usage

Suggest ideas
- Faster execution of code
- Increase response speed

[2017-12-25 07:06] sanketgautam commented on #78
I would say showing text to user in popup will not be good from UX point of view.

When user _"turns on" recognition from the Browser Actions_, then we can start a little icon on the bottom of  them screen, maybe like a little circle (something like go to top/bottom on various websites).
And when user says something that is identified by Anna then we can change that change that icon or it's color

[2017-12-25 09:30] gautamramuvel commented on #71
I shall work on this issue.

[2017-12-25 11:13] gauthamzz commented on #78
If we can make the button also enabled and disabled via a new pop up button to activate it,i think it can work.

[2017-12-26 04:18] sanketgautam commented on #78
Okay, I'll add a button in popup to set "visibility" of this icon, so that users can toggle between both the versions using that.
@gauthamzz  Should I proceed for implementation?

[2017-12-26 05:50] sanketgautam commented on #18
Hey! I would like to suggest one, "Youtube Song Lyrics" feature can be added to Anna. I prefer not go with Music recogition APIs as they have poor accuracy, and also incapable to detecting latest songs  (atleast free apis), alternatively, we can use free & open lyrics APIs like [Lyrics.ovh](https://lyricsovh.docs.apiary.io/).

Example call looks like: `https://api.lyrics.ovh/v1/Coldplay/Adventure

[2017-12-26 06:42] gauthamzz commented on #78
Sounds good assigned to you

[2017-12-26 06:46] gauthamzz commented on #18
If you see Anna YouTube's code. We just search the text using YouTube API and the first answer is shown. I think only a similar approach is needed.

[2017-12-26 07:05] sanketgautam commented on #18
@gauthamzz as explained in my previous comment, for our usecase, Youtube API only provide us `categoryID` which can help us to identify the type of video. As per my knowledge & exploration, It does not provide artist or title for any music video as of now.

[2017-12-26 14:33] srvkmr130 commented on #80
I would like to contribute to some part of it .

[2017-12-27 05:26] mmBabol commented on #74
@srvkmr130 I see you've also done how to Install, I can take the last section "How it works". Is that okay @gauthamzz ? Is it a new md file that I would create for this?

[2017-12-27 06:46] gauthamzz commented on #74
Yeah sounds cool

[2017-12-28 12:06] #78 closed

[2017-12-28 12:07] gauthamzz commented on #71
whats the status on this @gautamramuvel

[2017-12-28 12:08] gauthamzz commented on #74
@srvkmr130 @mmBabol  can you add the install part which is written in the readme to doc. And remove from readme

[2017-12-28 12:21] gauthamzz opened #89 "Add badges to readme"
Zulip badge should be added   [![](https://img.shields.io/badge/zulip-join_chat-brightgreen.svg)](https://anna.zulipchat.com/)

Codacy badge
Issues open badge
you can suggest others also

https://www.codetriage.com/anna-assistant/anna/badges/users.svg

[2017-12-29 01:35] srvkmr130 commented on #89
this is what i was thinking of...
we can try out build status badge also..though it requires basic node.js

[2017-12-29 06:46] sanketgautam opened #91 "Feature: Show Anna Status using "Browser Action" Icon"
Currently, we are using content script to inject status icon on each & every webpage user visits and change status icon according to the actions performed by users.

This can further be improvised by leveraging chrome extension's [Browser Action](https://developer.chrome.com/extensions/browserAction), to show current status of Anna. As, it's always available and can easily modified by using Chrome

[2017-12-29 10:39] gauthamzz commented on #89
If there is a badge for download from chrome webstore it would be useful

[2017-12-29 10:41] lalitmee commented on #89
Okk, Let me check. If it is there, it would be easy otherwise I think I can
generate it.

‌

On Fri, Dec 29, 2017 at 4:09 PM, Gautham Santhosh <notifications@github.com>
wrote:

--
Regards
Lalit Kumar

[2017-12-29 10:44] lalitmee commented on #89
I think there is a problem in the **issues open** badge. It is not showing currently opened issues' number. I added the link but somehow it is not showing. I am working on this.

[2017-12-29 10:45] gauthamzz commented on #89
Yeah. I noticed that too. Sure assigned to you

[2017-12-29 12:00] saavran commented on #45
![3d](https://user-images.githubusercontent.com/22423976/34436665-dd07c5ee-ecbd-11e7-8ce5-86a748915d9d.png)
![118a1750321639](https://user-images.githubusercontent.com/22423976/34436666-dd42b3ac-ecbd-11e7-9d47-6a9f9f6dd960.png)
![shadow](https://user-images.githubusercontent.com/22423976/34436667-dd7bb86e-ecbd-11e7-8e4d-c41cab0deda8.png)
![icon](https://user-images.githubusercontent.com/22423976/3

[2017-12-29 12:01] gauthamzz commented on #45
It's awesome 😍

[2017-12-29 12:02] lalitmee commented on #45
@saavran Yeah, great efforts.

[2017-12-29 12:14] lalitmee commented on #75
@gauthamzz what do you think about [this](https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md) template?

[2017-12-29 12:17] gauthamzz commented on #75
That's contribution guides we already have that . Just link that it's enough.

[2017-12-29 12:20] lalitmee commented on #75
Should I create a link for this template in the **readme.md** file.

[2017-12-29 12:23] gauthamzz commented on #75
No.

See this https://github.com/fossiiita/opencode2017/blob/master/PULL_REQUEST_TEMPLATE.md don't add the last part. And tell them to read the docs once.

[2017-12-29 12:29] lalitmee commented on #75
You mean I can add this one. From _code practices_ to _tutorials_. Am I right?

[2017-12-29 12:37] gauthamzz commented on #75
The link I send is what we want. It's pull request template it shouldn't be huge. And remove that part of link . Instead make like add relevant images in the comment

[2017-12-29 23:44] #89 closed

[2017-12-29 23:44] #45 closed

[2017-12-30 07:45] gauthamzz opened #103 "If user is not in chrome open chrome for reverse image search feature"
if the user is not in a browser tab when user says "screenshot or reverse image search"
either
- open browser tab
- tell user this feature is only available on the the browser.

console gives errors like `Error in response to tabs.query: TypeError: Cannot read property 'id' of undefined`

[2017-12-30 09:29] gauthamzz commented on #74
An FAQ is also needed in Docs.

[2017-12-30 11:45] gauthamzz opened #104 "Fix console log errors"
![deepinscreenshot_select-area_20171230171457](https://user-images.githubusercontent.com/12110844/34453920-06160712-ed85-11e7-9e32-5a11bfe052de.png)

runtime.lastError while running tabs.executeScript: The extensions gallery cannot be scripted

[2017-12-30 15:10] saavran opened #108 "Redesign Popup."
![help page](https://user-images.githubusercontent.com/22423976/34455281-a26f1f88-eda1-11e7-941a-8baf9d21535c.png)
![main page](https://user-images.githubusercontent.com/22423976/34455282-a2ac79dc-eda1-11e7-98af-246677085eaf.png)
![white](https://user-images.githubusercontent.com/22423976/34455462-be82dc24-eda5-11e7-81cd-7162eeec5da9.png)

Pop up design should be changed to the above design.

- Ic

[2017-12-30 15:22] saavran commented on #108
design it like the pictures shown above.

[2017-12-30 19:55] lalitmee commented on #75
@gauthamzz Can we set up a slack channel for Anna. I know that we have zulip-chat. But I think slack would be more attractive and user-friendly. I just want your opinion.

[2017-12-30 19:56] gauthamzz commented on #75
we promote opensource thats why we use zulip.
zulip is good if you try it. its very fast . I think we will stay with zulip for now.

[2017-12-30 19:56] #75 closed

[2017-12-30 19:57] gauthamzz commented on #75
closed at #105 by @lalitmee

[2017-12-30 19:58] lalitmee commented on #75
Ok. I was saying because I haven't used Zulip. But no problem. I am adaptable to change. hahaha.

[2017-12-30 19:59] gauthamzz commented on #75
I have used slack and discord as well. I think of them two discord is better. But for zulip is the best for our purpose

[2017-12-31 06:40] lalitmee commented on #108
@saavran Can you provide me the exact color codes and fonts, which you have used in designing?

[2017-12-31 07:44] srvkmr130 commented on #103
i think i can contribute to this

[2017-12-31 08:49] gauthamzz commented on #108
The color code is the same as the ones used in elate folder.

[2017-12-31 09:05] lalitmee commented on #108
Actually, I have made the head of the Popup. After that, I am not getting what is happening. And I don't want to disturb the structure of the project. May I create a PR for this?
![screenshot from 2017-12-31 14-34-42](https://user-images.githubusercontent.com/10762218/34460555-c4bfe28e-ee37-11e7-9415-9a4bbf1fc1bd.png)

[2017-12-31 09:08] gauthamzz commented on #108
Its slightly slimmer
Use the earlier toggle button which was already there . It looks better than this.
The header is non rectangular.
The see more part is in a footer with a bit of shadow at the bottom of both the pages.
Send whole. The design will be awkward only half way. You can send pr so that I can check but won't merge

[2017-12-31 09:11] lalitmee commented on #108
Ok, then I can try to do the things which I can do. Can you tell me the fonts used in the footer section of the image? In **See More**, **Docs**, etc.

[2017-12-31 09:28] gauthamzz commented on #108
All of them Segoe UI light is the font used everywhere

[2017-12-31 13:16] lalitmee commented on #18
Hey, I would like to suggest one.

It is like **To-Do List** in our browser. We can add tasks by talking to Anna and then Anna can set a reminder and then Anna can alert us that we have to do this at this date or time.
We can also track the task done and remained.

I think we can do this. Let me know your opinion on this.

[2017-12-31 13:19] gauthamzz commented on #18
We already can set reminders using google calander . We can improve it a bit more.

[2017-12-31 13:26] gauthamzz opened #112 "Trigger action examples from help in pop up"
The section help in pop up has been added.

Given a user clicks on a card on help. The function will execute without the voice command.

[2017-12-31 16:53] gauthamzz opened #116 "Add articles anna got featured"
make a file featured.md and add the links in website of places where anna got featured

 Articles where anna got featured

https://www.techypin.info/tech-updates/software-updates/free-voice-assistant-google-crome/

http://www.gotowebsites.info/2017/11/talking-anna-assistant-you-get-stuff-faster-on-google-chrome/#.WkkJ-3WWa00

 https://serkangundogdu13.blogspot.in/2017/11/google-chrome-icin-ses-asi

[2017-12-31 16:56] ananya commented on #116
i would like to take this issue

[2017-12-31 16:58] gauthamzz commented on #116
assigned to @ananya-agrawal

[2017-12-31 17:40] pradeepgangwar commented on #61
What type of conversation will be there between user and anna. And what is the expected output from Anna (action and text).

[2017-12-31 17:47] gauthamzz commented on #61
we only need anna to say things to user for now.
This line https://github.com/Anna-Assistant/Anna/blob/master/background.js#L276 is said back to user now.

I was thinking the same text will be shown to the user.

[2017-12-31 18:25] sanketgautam commented on #104
@gauthamzz I'll take this

[2017-12-31 18:38] #104 closed

[2017-12-31 20:24] gauthamzz commented on #116
Solved for adding in website . #120
Readme left

[2018-01-01 00:07] #116 closed

[2018-01-01 00:17] #72 closed

[2018-01-01 00:20] gauthamzz opened #121 "Open lyrics of a song"
When user says "lyrics of song", a new tab should be opened with lyrics.

It should be implemented like youtube is implemented. The browser should display the lyrics not search for lyrics in some lyrics website.
Comment before starting to work on this issue.

[2018-01-01 00:21] #103 closed

[2018-01-01 00:35] gauthamzz commented on #91
I have added this feature in https://github.com/Anna-Assistant/Anna/commit/f8d29d07d09c3fe2aaa8456a0fd53815e2418746

Didn't add a toggle button since it didn't seem needed.

Red Icon for inactive
Black for Normal
Blue-green theme colour when active

[2018-01-01 00:35] #91 closed

[2018-01-01 00:39] gauthamzz commented on #108
Issue is almost solved.

Pop up size is too large. Other than that it looks good. so closing this issue

[2018-01-01 00:39] #108 closed

[2018-01-01 00:40] gauthamzz opened #122 "Reduce pop up size"
The pop up size is too large relative to the screen size.
The settings ,help buttons also are too large

Reduce the size of pop up.
Follow up of #108.

[2018-01-01 00:43] gauthamzz commented on #74
#82 #83 #84 #85 #111 #100 solved issue
solved by @mmBabol  and @srvkmr130

[2018-01-01 00:43] #74 closed

[2018-01-01 06:01] pradeepgangwar commented on #122
I will fix this .

[2018-01-01 10:58] saavran opened #123 "Feature: Ability to change user language"
Need a drop down menu in popup.html(settings) which will change the user speaking language.

https://github.com/Anna-Assistant/Anna/blob/master/background.js#L183

Has recognition language set to en-us for now.

[2018-01-01 11:26] gauthamzz commented on #16
#123 is related to this

[2018-01-01 12:59] sanketgautam commented on #91
Yeah! Seems Good 😃

[2018-01-01 13:09] vikramnr commented on #121
@gauthamzz So in a new tab with lyrics which can be displayed from any website?

[2018-01-01 13:10] gauthamzz commented on #121
Website if your choice.

[2018-01-01 19:44] lalitmee opened #124 "Release a .crx file"
Can we add a `.crx` file for this extension? It would help testers and developers in developing and it will also reduce the efforts which we do while loading the extension from our system.

If we have the `.crx` file, then only we have to drag and drop the `.crx` file in the `chrome://extensions/` tab and our extension will be ready for use or testing.

[2018-01-01 21:03] #124 closed

[2018-01-02 05:42] lalitmee commented on #122
@pradeepgangwar Are you fixing this?

[2018-01-02 05:51] pradeepgangwar commented on #122
I am out .... Probably try it tomorrow. You can try and send a PR If u would like to fix else I will do it.

[2018-01-02 05:53] lalitmee commented on #122
Actually, I leave it to you. You do this, I have another issue to solve. Okk.

[2018-01-03 10:42] gauthamzz commented on #123
Update on this ?

[2018-01-03 10:48] lalitmee commented on #123
I was trying to do this. I did some research. I got the design that how we can make it but I didn't find that how to make able multiple language recognition.
This is the [link](https://codepen.io/axel1998/pen/RWOpXq) to how it should look like.

[2018-01-03 10:55] gauthamzz commented on #123
I mean you can keep an array of supported lanagaues and drop down will come . User can select from it. And it will set the variable in background.js .

https://stackoverflow.com/questions/15572595/chrome-extension-access-to-variables-of-a-background-js-from-a-popup-js

[2018-01-03 11:16] #122 closed

[2018-01-03 11:38] gauthamzz commented on #16
We are presently using chrome's inbulit API.
Which has a low accuracy and it checks all the time hence increasing browser CPU usage.

There are many ways to solve this

One is using a wrapper for chrome API . Such as https://github.com/TalAter/annyang

Other is https://github.com/Kitt-AI/snowboy/issues/98 .

Lastly we can use dialogflow directly. But I'm not sure about its implementation. People s

[2018-01-03 11:42] gauthamzz opened #128 "CPU usage increases when Anna is off"
Weirdly when Anna is not activated CPU usage seems to increase than when not in use .

Check shows that a function is being called unwantedly.

[2018-01-04 14:29] gauthamzz commented on #61
@pradeepgangwar update ?

[2018-01-04 14:29] gauthamzz commented on #121
@vikramnr  are you working on this ?

[2018-01-05 10:38] vikramnr commented on #121
@gauthamzz  Yeah sure I'll work on this

[2018-01-06 11:53] pradeepgangwar commented on #61
I will try it . Meanwhile anybody else willing to work can try it.

[2018-01-08 14:54] gauthamzz opened #130 "change hot word detecting method"
Change hot word detection metod to snowboy

https://github.com/Kitt-AI/snowboy

So user needs to give audio in the beg.

Add a voice of user in a folder named "Trigger" --> user saying hey anna
Remove this file from .gitignore
Apply this as the word detection metod for anna.
Do start recognition using webkit speech api only aftet that

[2018-01-08 17:59] #15 closed

[2018-01-08 17:59] gauthamzz commented on #15
No longer a priority

[2018-01-08 18:00] gauthamzz commented on #123
This issue is presently unassisgned

[2018-01-08 18:01] #71 closed

[2018-01-08 18:01] gauthamzz commented on #71
Will reopen after sometime

[2018-01-08 18:02] #60 closed

[2018-01-10 05:44] jat9674 commented on #123
I would like to solve this issue.

[2018-01-10 05:47] gauthamzz commented on #123
assigned to you @jat9674

[2018-01-10 06:00] gauthamzz opened #131 "Improve docs"
Improve https://github.com/Anna-Assistant/Anna/blob/master/docs/HowItWorks.md

Increase number of examples for each part
consistent styling is required

[2018-01-10 06:02] gauthamzz opened #132 "Make a demo video on Youtube"
Make a Demo video and upload on YouTube.
Minimum duration 30 seconds

For opencode Participants
---------------------------------
Without editing ---> medium 30 points
with ediiting --> Hard 50 points

Any number of particapants can do this.

[2018-01-10 12:03] nocoderhere commented on #131
I would like to contribute to this. A little suggestion, is it okay if we move the contents of `HowItWorks.md` to `README.md` just like its done [here](https://github.com/swapagarwal/JARVIS-on-Messenger) for another personal assistant.

Edit: Also, do you want to call Anna as Anna, ANNA or **ANNA** as all 3 are used in the docs. I have made many tiny changes to the docs, but when I try to "publish

[2018-01-10 15:08] gauthamzz commented on #131
Use Anna.

Yeah you can make a table like that in readme. But how it works is for details.

You can only send pull request. Not make direct changes when you don't own the repo. So fork and make changes then send pull request.

[2018-01-11 18:30] gauthamzz opened #134 "star this repo"
post screenshot

Also go to chrome webstore and rate this extension 😈

[2018-01-11 18:31] mubaris commented on #134
![screenshot from 2018-01-12 00-00-17](https://user-images.githubusercontent.com/13871723/34840663-aee233e8-f72b-11e7-804e-b04032d4e321.png)

Sir, I have starred the repository. Please give me points

[2018-01-11 18:31] ananya commented on #134
![a](https://user-images.githubusercontent.com/33188930/34840684-bffa5732-f72b-11e7-81a8-d0314454bf4d.png)

[2018-01-11 18:33] namantw commented on #134
![image](https://user-images.githubusercontent.com/31323328/34840750-f0608018-f72b-11e7-8800-28aeb50b59c6.png)

[2018-01-11 18:33] marshallKR7 commented on #134
![screenshot-2018-1-12 anna-assistant anna](https://user-images.githubusercontent.com/28799332/34840763-fe27fc94-f72b-11e7-87a0-32b3d72c182b.png)

[2018-01-11 18:33] mubaris commented on #134
If you star the repo 2 times, you will get 20 points

[2018-01-11 18:39] rahulkumaran commented on #134
![screenshot from 2018-01-12 00-09-15](https://user-images.githubusercontent.com/26206171/34841026-dd6cbbb0-f72c-11e7-978c-70b0d89e58ae.png)

[2018-01-11 18:39] GOVINDDIXIT commented on #134
![captured](https://user-images.githubusercontent.com/32304546/34840968-b611b4da-f72c-11e7-825d-e031eab4eecb.PNG)

[2018-01-11 18:43] lalitmee commented on #134
![screenshot from 2018-01-12 00-12-51](https://user-images.githubusercontent.com/10762218/34841196-6d464968-f72d-11e7-99e6-a05e4025eae5.png)

[2018-01-11 18:48] Jigar3 commented on #134
![screenshot_2018-01-12-00-18-10-220_com android chrome](https://user-images.githubusercontent.com/32068121/34841394-2659ff12-f72e-11e7-80f9-763bb10f9be2.png)

[2018-01-11 19:30] adityaraj-xtc commented on #134
![3](https://user-images.githubusercontent.com/34164978/34843243-ea4fc190-f733-11e7-96f4-36f2247c8ec0.png)

[2018-01-11 19:32] adiagg2000 commented on #134
![screenshot 36](https://user-images.githubusercontent.com/33027339/34843377-4c520cf4-f734-11e7-90ed-f712b09843fd.png)

[2018-01-11 19:39] ProBeta1 commented on #134
![screenshot-2018-1-12 anna-assistant anna](https://user-images.githubusercontent.com/33081197/34843720-48c02372-f735-11e7-8817-d5295a899eed.png)

[2018-01-11 20:44] aryan-harsh commented on #134
![image](https://user-images.githubusercontent.com/35261946/34846464-4853e83e-f73e-11e7-851f-52c34f69bf09.png)

[2018-01-11 21:26] AK-007 commented on #134
![screenshot 55](https://user-images.githubusercontent.com/26346816/34848254-25994dba-f744-11e7-91c0-1415af7ad353.png)

[2018-01-12 08:15] strikertanmay commented on #134
![screenshot from 2018-01-12 13-44-36](https://user-images.githubusercontent.com/32292953/34865437-c90cd1d8-f79e-11e7-89bc-170e4f62c964.png)

[2018-01-12 09:39] vvvinamer commented on #134
![screenshot 32](https://user-images.githubusercontent.com/35339278/34868683-9ca10022-f7aa-11e7-876a-48dee9585768.png)

[2018-01-12 10:01] arshjat commented on #134
![aa](https://user-images.githubusercontent.com/29671220/34869663-9c23c866-f7ad-11e7-990e-ded111347710.png)

[2018-01-12 10:12] AlphaCholera commented on #134
![screenshot from 2018-01-12 21-12-06](https://user-images.githubusercontent.com/33174671/34870123-2f8b16da-f7af-11e7-9fd3-00cb9c06fa8b.png)

[2018-01-12 12:45] aadixiiita commented on #134
![screenshot_20180112-181419](https://user-images.githubusercontent.com/34688457/34875732-7e56a724-f7c4-11e7-81dd-ffacb51520f3.png)

[2018-01-12 16:24] #131 closed

[2018-01-12 16:25] gauthamzz opened #135 "add more exmaples in readme"
add more examples in the readme table
the examples can be seen in the how it works faq question

[2018-01-12 16:34] GOVINDDIXIT commented on #135
i will do it

[2018-01-12 16:37] ananya commented on #135
will like to do it

[2018-01-12 16:38] gauthamzz commented on #135
assigened to @GOVINDDIXIT

[2018-01-12 16:56] lalitmee commented on #134
Hey @gauthamzz congratulations for 72 stars on the repo. But I am not getting that in one how this happened?

[2018-01-12 16:58] gauthamzz commented on #134
its an opensource event form IIIT Allahabad, to prmote opensource. If anyone from your college wants to join refer them. Its a great place to start Github @opencode18. Opencode is its name.

[2018-01-12 17:30] Anubhav2000 commented on #134
![capture](https://user-images.githubusercontent.com/33462670/34887398-5c026c6c-f7ec-11e7-9a56-a7c44c2bc738.PNG)

[2018-01-12 17:58] Panda2498 commented on #134
![anna](https://user-images.githubusercontent.com/34282889/34888385-26ae0cd4-f7f0-11e7-9f05-f8b911bdcce1.PNG)

[2018-01-12 18:01] Panda2498 commented on #132
What kind of demo video would you like to have, what contents should it have?

[2018-01-12 18:08] nikki1016 commented on #134
![star3](https://user-images.githubusercontent.com/26041681/34888794-9dcf3792-f7f1-11e7-8c7d-b9d576317e36.png)

[2018-01-12 18:20] gauthamzz commented on #132
A video demo of using Anna. About how it works and all the things it can do.

More like a promotional video. You are free to use your creativity.

[2018-01-12 18:56] Panda2498 commented on #132
I should make it using screen recorder, right?

[2018-01-12 19:24] gauthamzz commented on #132
way of making is your choice. You can use a dslr if you want :smile:

This is for promoting the product. More like a trailer or tech review.

[2018-01-13 07:41] GOVINDDIXIT commented on #135
@gauthamzz  I have send the PR .Do I have to add more examples or it is fine

[2018-01-13 11:10] gauthamzz commented on #135
see the review i made. I had requested some changes

[2018-01-13 11:28] GOVINDDIXIT commented on #135
sir , where is the review 😕

[2018-01-13 12:36] #135 closed

[2018-01-14 17:02] hiteshpr commented on #134
![opencodestar](https://user-images.githubusercontent.com/19280178/34918588-c13c1986-f97a-11e7-921a-90a45f4074ae.png)

[2018-01-14 17:23] Panda2498 commented on #132
I will submit the video by tomorrow. In which section do I upload it.

[2018-01-14 17:37] gauthamzz commented on #132
upload on youtube and put link over here.

[2018-01-14 21:47] Tlazypanda commented on #134
![image](https://user-images.githubusercontent.com/33183263/34921039-a48b43de-f9a2-11e7-9c6e-78fcba1a40cc.png)

[2018-01-15 02:26] ekanban commented on #134
![screenshot 26](https://user-images.githubusercontent.com/34866483/34924472-8ae5d328-f9c9-11e7-8297-d59055bd70b9.png)

[2018-01-15 15:52] rudransh1 commented on #134
![screenshot_20180115-212014](https://user-images.githubusercontent.com/34509429/34950799-30bc1486-fa3a-11e7-80bb-605789382877.jpg)

[2018-01-16 12:52] pani-vishal commented on #134
![anna](https://user-images.githubusercontent.com/30634978/34989903-36d8c2aa-faea-11e7-8947-a0099937421b.png)

[2018-01-16 13:20] Panda2498 commented on #132
https://youtu.be/tGwDLcLavK0

[2018-01-16 13:20] gauthamzz commented on #121
@vikramnr update on this?

[2018-01-16 13:26] gauthamzz commented on #132
Thats pretty good. Can you add the link in readme.
It was a bit slow in the begining(It would have been better if we made it faster)  but then it gets real good at the end.

[2018-01-16 13:32] Panda2498 commented on #132
Actually! Net speed sucks!

[2018-01-16 17:35] surasnayak commented on #134
Done!
![screenshot from 2018-01-16 23-04-29](https://user-images.githubusercontent.com/21239888/35003076-ad04dd02-fb11-11e7-8d6d-a094e2008933.png)

[2018-01-16 21:18] gauthamzz opened #137 "Update youtube link in readme and website"
https://youtu.be/o3xmL-TqK5o

[2018-01-16 22:09] pani-vishal commented on #137
Can I take this?

[2018-01-16 22:17] gauthamzz commented on #137
yeah go ahead

[2018-01-17 12:32] pani-vishal commented on #128
Can I try this out?

[2018-01-17 13:45] gauthamzz commented on #128
yeah sure @falconis

[2018-01-17 14:12] aadixiiita commented on #61
Can i try this ?

[2018-01-17 14:13] gauthamzz commented on #61
yeah sure @aadixiiita
we want something like this https://codepen.io/slavik10/pen/wadzYe
replace the girls image by anna's logo

[2018-01-18 04:53] asthemus commented on #134
![firefox_screenshot_2018-01-18t15-52-37 360z](https://user-images.githubusercontent.com/34709632/35081319-94aff43e-fc39-11e7-925c-1e5cf4cf469d.png)

[2018-01-18 06:44] rudransh1 commented on #130
Can I work on this issue

[2018-01-18 06:45] lalitmee commented on #130
Yeah, why not. Go ahead.

[2018-01-18 07:13] rudransh1 commented on #130
What prerequisite knowledge do I require for this?
@lalitmee  @gauthamzz

[2018-01-18 07:15] lalitmee commented on #130
I think all the steps are mentioned in the issue. You can take help from there.

[2018-01-18 07:15] rudransh1 commented on #130
Okay

[2018-01-18 21:20] #137 closed

[2018-01-19 08:17] gauthamzz commented on #130
Update ?

[2018-01-19 08:17] gauthamzz commented on #128
What’s the status

[2018-01-19 08:18] gauthamzz commented on #61
What’s the status of this issue ?

[2018-01-19 08:19] rudransh1 commented on #130
I need more time
Will update tomorrow!

[2018-01-19 08:20] gauthamzz commented on #130
Come on Zulip of opencode

[2018-01-19 13:56] pani-vishal commented on #128
Just started working on it

[2018-01-19 15:01] pani-vishal commented on #128
Is the problem in on-off.js file? I can't figure this out as I am not able to test the changes which I do to the code.. @gauthamzz

[2018-01-19 15:05] gauthamzz commented on #128
start using the task manager of the chrome extension and on the extensions there is a background page. Use both that.

I think the increase in CPU is due applying the red coloured status button or some other check in background.js only. Which was added due to the status showinig cricular image.

[2018-01-19 15:06] pani-vishal commented on #128
Alright!

[2018-01-19 16:37] pani-vishal commented on #128
I think I found the issue. But I am not sure since I can't check it in real time. Is there any way I can do so?

[2018-01-19 16:48] aadixiiita commented on #61
i am working .. i'll give u update shortly..

[2018-01-19 17:19] gauthamzz commented on #128
come in zulip

[2018-01-19 19:10] pani-vishal commented on #128
Couldn't solve this.. pls reassign.

[2018-01-20 17:34] gauthamzz opened #140 "Create Anna for firefox"
Almost all code is same, I guess it wont be that hard.

Once its done comment, ill make a seperate repo for that.

[2018-01-20 18:15] ananya commented on #140
I will try just try

[2018-01-22 21:48] gauthamzz commented on #140
@ananya-agrawal update?

[2018-01-22 21:48] gauthamzz commented on #130
@hacker1x1x1 update

[2018-01-22 21:49] gauthamzz commented on #61
@aadixiiita update?

[2018-01-23 02:29] ananya commented on #140
I searched for it and will try fixing it . If somebody else wants to take the issue he can

[2018-01-23 07:16] rudransh1 commented on #130
please unassign me this issue!... @gauthamzz
I could not do this...
Let anyone else take this up

[2018-01-23 13:54] ghost commented on #134
![1](https://user-images.githubusercontent.com/29673845/35279394-f93799fe-001a-11e8-9dc6-e430a1a0f5e9.png)

[2018-01-23 17:40] #134 closed

[2018-01-25 18:57] gauthamzz opened #141 "Change Anna's voice"
Last few lines of background js ,change from the present robotic voice to a much more futuristic sound

[2018-01-25 19:09] pani-vishal commented on #141
I'd like to take this

[2018-01-25 19:10] gauthamzz commented on #141
yeah sure. try various types and send me samples. Ill select on zulip.

[2018-01-25 19:11] pani-vishal commented on #141
Sure! I'll get to this tomorrow.

[2018-01-31 17:48] gauthamzz opened #142 "read whats in the google search"
Read whats written in google search suggestion box.

[2018-01-31 17:48] gauthamzz commented on #141
@falconis are you able to do this ?

[2018-01-31 19:08] pani-vishal commented on #141
Actually Anna isn't working for me.
It won't hear what I say. Could you please look into it? :smiley:  @gauthamzz

[2018-01-31 19:48] gauthamzz commented on #141
lol, use the latest code and use a microphone. Still not working check if your microphone is working. Try something like recoding audio on browser.
See if permssions are given.
Still now working, reload it.

[2018-02-21 14:05] #132 closed

[2018-02-24 19:24] gauthamzz opened #145 "feature delete cache"

[2018-02-27 00:45] srvkmr130 commented on #140
I will try too.

[2018-03-05 19:13] savannahar68 commented on #140
@gauthamzz Hello sir,i read the code and have understood all,im implementing this into firefox,
as the speech reorganization feature was added on 20th Feb by Firefox(beta) so will take a day more.
Assign it to me
Thank you.

[2018-03-05 19:52] gauthamzz commented on #140
Use https://developer.mozilla.org/en-US/Add-ons/WebExtensions webextension.
I plan to port it :smile:

[2018-03-06 17:49] savannahar68 commented on #145
I want to work on this, can you provide more detail as in when the cache should be deleted? Like are we going to provide some button for it, or some specific time or some other approach you have in your mind?

[2018-03-06 17:56] savannahar68 commented on #140
@gauthamzz  Sir, after spending 2 days on it, I come to the final conclusion about porting Anna to firefox.
Firefox has not yet released there webspeech API and they are planning to do it soon in Q2 of 2018(according to official blog post)
PS- This issue has been unresolved for 4 years now - [BugZilla LInk](https://bugzilla.mozilla.org/show_bug.cgi?id=1248897)
So we can hold until firefox launches

[2018-03-06 19:05] gauthamzz commented on #140
you can port from chrome extersnion to webextensino which will support all browsers using the existing code. just minor changes.

[2018-03-06 19:06] gauthamzz commented on #145
broswer cache like "login details etc"

[2018-03-06 19:46] savannahar68 commented on #140
@gauthamzz Yes sir,i i know that, but there is not Speechrecognization Api like one in chrome in firefox !!! so we cant implement Anna in firefox until then .

[2018-03-06 19:47] gauthamzz commented on #140
https://github.com/TalAter/annyang/blob/master/src/annyang.js#L33

Do this

[2018-03-06 20:21] savannahar68 commented on #140
Sir, already had a hand on it, Firefox currently doesn't support speechrecog, so that library won't work

![image](https://user-images.githubusercontent.com/20986069/37056201-ac7d80f0-21a9-11e8-9476-add9922a3da4.png)

When opened in Firefox it gives error

[2018-03-06 20:22] gauthamzz commented on #140
okay. lets wait then :smile:

[2018-03-06 20:23] savannahar68 commented on #140
The only option left :p

[2018-03-06 20:24] savannahar68 commented on #145
Ok got it, will add it by tomorrow

[2018-03-08 17:25] savannahar68 commented on #145
So we have to delete only the cache of the same app right ? and not the entire browser (becase that cannot be done and will be a huge bug) offcoouse i can redirect it to that page
Let me know which one do you want

[2018-03-08 17:56] gauthamzz commented on #145
entire browser is what people normally do

[2018-03-08 20:11] savannahar68 commented on #142
When to read it ? what input will be given by the user?
Can you elaborate it ?

[2018-03-08 22:40] #145 closed

[2018-03-08 22:41] gauthamzz commented on #145
Thanks

[2018-03-09 02:37] savannahar68 commented on #121
we can use this API  https://developer.musixmatch.com/documentation  if you are okay with it @gauthamzz  if you are ok with it then please register the app and send me the API key, ill add this feature tonight

[2018-03-09 06:27] gauthamzz commented on #121
We should open a website, not use an api
If we use api where will we display

[2018-03-13 19:03] paveethan commented on #80
I would like to contribute as well:

bff79a853525f00498e4a561cc8e48da4f3202bc
f3194ae9b0de689da416c5964e64fe88377dd4b5

[2018-03-13 19:45] paveethan commented on #18
How about the ability for one to get their own horoscope? i.e 'hello, horoscope for aries'

[2018-03-13 19:49] gauthamzz commented on #18
Sounds cool. Send pr

[2018-03-13 19:51] gauthamzz commented on #80
Thanks

[2018-03-13 19:52] paveethan commented on #18
Does anything need to be added in DialogFlow first? I was testing it out the other day but it kept failing, even after being added in the list of intents in tasks.

[2018-03-13 20:59] gauthamzz commented on #18
I will add it :smile:

[2018-03-13 21:24] gauthamzz opened #151 "Make speech recognition as better"
follow https://github.com/TalAter/annyang/blob/master/src/annyang.js#L186

[2018-06-12 23:44] dotcomboom commented on #121
Made a pull request. The intent uses Google's I'm Feeling Lucky feature.
https://github.com/Anna-Assistant/Anna/pull/154

[2018-06-13 16:27] gauthamzz commented on #121
its merged thank you :smile:

[2018-06-13 16:27] #121 closed

[2018-06-24 17:01] #151 closed

[2018-06-24 17:02] gauthamzz commented on #142
Sorry for the late reply.

When a user says somethign and when anna cant understand. it falls back to google search. So read back if there is any google's suggested answers

[2018-06-24 17:03] gauthamzz commented on #141
This issue is open and still not solved

[2018-06-24 17:04] gauthamzz opened #155 "fix bug in anna"
there is a console error bug for anna

[2018-06-25 00:30] vikasgola commented on #141
@gauthamzz I have opened a pull request for this. Please review.

[2018-06-25 06:59] hmangukia commented on #23
I would like to try this.

[2018-06-25 08:07] gauthamzz commented on #23
sure go ahead :smile:

[2018-06-25 08:09] gauthamzz commented on #141
on it :smile:

[2018-06-25 08:15] gauthamzz commented on #23
I think this issue is being solved at #156. Could you try something else.

[2018-06-25 08:15] #23 closed

[2018-06-25 08:16] #155 closed

[2018-06-25 08:20] gauthamzz commented on #61
This issue is still unsolved. We are looking for an intercom/Drift like chat instead of the current status symbol.

As Anna replies something, the chat bubble should say what anna says.

![image](https://user-images.githubusercontent.com/12110844/41838674-ab5e7978-787e-11e8-9c58-bb13278dbbb9.png)

[2018-06-25 08:23] gauthamzz opened #157 "make recognition only start if the sound is over a certain volume level."
The start recognition works always when anna is ON.

make it work only the voice is above a certain level, to ensure optimisation.

[2018-06-25 08:54] gauthamzz opened #158 "Change pop up design for help"
Anna is using landbot.io for help section in pop up.

Remove the previous one and make it more clean.

![deepinscreenshot_select-area_20180625142423](https://user-images.githubusercontent.com/12110844/41840497-80e3077c-7883-11e8-8b16-5f57f8fa25a7.png)

[2018-06-25 14:12] #141 closed

[2018-06-25 14:13] gauthamzz opened #159 "fix popup design"
the settings section has a slight problem. the color is not filled.
![deepinscreenshot_select-area_20180625194342](https://user-images.githubusercontent.com/12110844/41855345-13f9d1fe-78b0-11e8-9d87-d4a41700218d.png)

[2018-06-25 14:28] vikasgola commented on #159
@gauthamzz pull request #160

[2018-06-25 17:03] #159 closed

[2018-06-25 17:34] vikasgola commented on #123
@gauthamzz
Don't u think 10 points are very low for this.
I mean 30 points will be good.

[2018-06-25 17:35] vikasgola commented on #123
@gauthamzz
Assign it to me...
I will do it.

[2018-06-25 17:52] gauthamzz commented on #123
I think this was already solved in the earlier issue by you.

I guess this is a duplicate and already solved. you can take this points as well

[2018-06-25 18:01] vikasgola commented on #123
@gauthamzz
Voices and languages are two different things.
One language can be speak in different style or voices.
And moreover this is releated to speech recognition not to speech synthesis.

The eariler issue that I solved was related to speech synthesis.

[2018-06-25 18:06] gauthamzz commented on #123
oh yes, you need to make this change https://github.com/Anna-Assistant/Anna/blob/master/background.js#L196

But i think you should use voice and language using the same text box only. i guess 10 is fine then

[2018-06-25 18:08] vikasgola commented on #123
@gauthamzz But one language can be speak in many different voices. So it will be better to have another option for languages.

[2018-06-25 18:23] gauthamzz commented on #123
It will just increase complexity. I like to keep a clean pop up.

We need to keep more settings button and keep few over there , if you would like to do it.

You are free to do what you wish to do. Just make sure the code and the pop up is clean 😇

[2018-06-27 10:30] rupal16 commented on #158
Hey, can I work on this issue?

[2018-06-27 12:26] gauthamzz commented on #158
yeah sure

[2018-07-21 06:42] gauthamzz commented on #158
any update ?

[2019-02-06 11:47] #18 closed

[2019-02-06 11:47] #61 closed

[2019-02-06 11:47] #73 closed

[2019-02-06 11:47] #80 closed

[2019-02-06 11:47] #112 closed

[2019-02-06 11:47] #130 closed

[2019-02-06 11:47] #142 closed

[2019-02-06 11:47] #157 closed

[2019-02-06 11:47] #158 closed

[2019-03-23 12:19] gauthamzz opened #166 "Create new skill"
Create a new skill for Anna

What you can make is in your imagination.

You can refer to Google Assistant, Siri or Alexa Skills for Inspiration.

Look at the docs to understand [how to add a skill or feature](https://github.com/Anna-Assistant/Anna/blob/master/docs/AdditionOfNewFeatures.md)

Basically, it's an if statement in the background.js.

Before starting to work on a new feature, please make

[2019-03-23 12:37] gauthamzz opened #167 "On install current voice is not set"
In the voice select, current voice is not set on Install

[2019-03-23 13:12] gauthamzz commented on #167
reverting the pr untill someone wants to fix

[2019-03-23 13:12] #167 closed

[2019-03-23 13:14] gauthamzz opened #169 "Add ability to give commands from popup"
Make a search box in the popup and allow commands to be put to Anna via it. Without using voice recognition. Recognition has worked till now, but its a pain and it rarely works

[2019-03-23 13:19] gauthamzz opened #170 "Change on Install Page"
On install, at the moment Anna shows elate folder. Which is Anna's website?

Instead make a website, which acts as a control panel for Anna

At the moment use Bulma.io for the CSS and make a simple site.

Just show if voice permission is given or not.
List all features and how to access them

[2019-03-23 14:21] gauthamzz opened #171 "Change recognition method to Annyang"
https://github.com/TalAter/annyang/

for #16 we can start with this step for now.

This means a major change in background.js

[2019-04-01 18:15] NupurMunda commented on #169
Hello I am nupur . Can I work on this issue?

[2019-04-03 20:11] gauthamzz commented on #169
Yeah

[2019-04-09 13:13] sakshichahal53 commented on #166
Hi @gauthamzz, we'd like to add a new feature- Showing Internet Speed to the user.
**Input to Anna :** "Hey, Show Internet Speed".
**Expected Ouput:** A new tab is opened directed at Fast.com showing the results.
We also plan to make Anna speak the internet speed to the user through some web-scraping techniques.

For this, probably we need the access to the Dialogflow files to help us give a bette

[2019-04-09 13:14] gauthamzz commented on #166
Could you make a new issue named Add Skill: Internet speed and start working on it

[2019-04-09 13:38] sakshichahal53 commented on #166
Surely. On it!

[2019-04-09 13:40] sakshichahal53 opened #172 "New skill - Show Internet Speed to the user."
**Input to Anna :** "Hey, Show Internet Speed".
**Expected Ouput:** A new tab is opened directed at Fast.com showing the results.
We also plan to make Anna speak the internet speed to the user through some web-scraping techniques.

For this, probably we need the access to the Dialogflow files to help us give a better understanding of the project, and also, to create a new skill for Anna.

[2019-04-14 13:25] sakshichahal53 opened #174 "Microphone icons displayed all over the panel in Ubuntu 18.04"
Microphone icons displayed all over the panel in Ubuntu 18.04 whenever any command is input to Anna.
![WhatsApp Image 2019-04-14 at 3 55 22 PM](https://user-images.githubusercontent.com/25123590/56093463-babdca00-5ee6-11e9-88a6-538bb9e17045.jpeg)

[2019-04-14 13:38] #172 closed

[2019-04-14 13:40] gauthamzz commented on #174
I think I’m background.js something is going wrong, the current session is not getting terminated and a new one is made. Thank you for opening your first issue.

[2019-04-16 15:37] sakshichahal53 opened #175 "Add the ability to tell the internet speed to user"
Till now, Anna just opens up a new tab when asked to show internet speed for the inputs:
Hey,
![56942472_1977998612323418_153891714757558272_n](https://user-images.githubusercontent.com/25123590/56223477-74ee3680-608b-11e9-9de8-45a8040ae67c.png)

We'd like to add web scraping to fast.com and help Anna know the speed so as to speak to the user.

[2019-04-18 06:52] sakshichahal53 commented on #174
Hi @gauthamzz , after much debugging and research on the issue, we have come to the conclusion that it is not a bug from the developer side. Whenever webkitspeechrecognition is called, there come multiple microphone icons over the ubuntu panel.
This issue is prominent in many other extensions and applications:
For example: [Google Docs Voice Typing](https://askubuntu.com/questions/1102964/google-d

[2019-04-18 11:32] gauthamzz commented on #174
We will let this issue open, till we get a new lead into how this can be solved. Or maybe wait till ubuntu or mac solves this

[2019-04-18 11:32] gauthamzz commented on #172
Could you add about this skill in the docs.

[2019-04-18 17:06] sakshichahal53 commented on #174
Surely.

[2019-04-25 07:25] sakshichahal53 commented on #175
Hey @gauthamzz, I am having difficulty implementing scraping in javascript. You could assign it to someone else who wants to work on it for now.

[2019-04-25 07:27] sakshichahal53 opened #176 "New skill - Add high low game to Anna"
This skill is a basic high-low game. Guess a number, and Anna will tell you whether the number she has in mind is higher or lower. You will be given a fixed number of guesses. If you guess the correct number before your given number of chances finish you win, else you lose.

[2019-04-25 07:30] gauthamzz commented on #175
Sure, Can you update the docs for internet speed feature.

[2019-04-25 07:31] gauthamzz commented on #176
What should be the words triggering it?

[2019-04-25 09:09] sakshichahal53 commented on #175
Okay, on it.

[2019-04-25 10:42] sakshichahal53 commented on #176
The input could be:
"Hey, Let's play number game."
"Hey, number game."
"Hey, play number game."

[2019-04-25 16:47] gauthamzz commented on #176
It's added intent name is `numbergame`

[2019-05-12 19:57] gundeeps22 commented on #175
Hi,

So I don't know if you guys have figured this out, but since you haven't closed the issue yet I am assuming this is still something you guys are working on. I figured out how to scrape dynamic websites, in particular fast.com. From the website I can obtain the internet speed. The problem is that the program is coded in Python. After reading online, you can integrate python code with js using

[2019-05-14 04:55] sakshichahal53 commented on #175
Hi @gundeeps22, we too were actually thinking to use a python script for the code which could be integrated using API calls. However, it would be great to find a JS code for the same. However, we'd surely look up for the above help. Thank you so much.

[2019-05-14 06:12] sakshichahal53 commented on #176
Hi @gauthamzz kindly have a look on the recent commits on the pull request.

[2019-05-14 12:50] #176 closed

[2019-05-14 12:51] gauthamzz commented on #175
Can't you try something like get the name of the div and then just speak its value using JS

[2019-05-14 12:53] gauthamzz opened #178 "Change popup to a text field"
Change the popup to add a text field which will take the value which is equal to the input which is supposed to be said to anna without the trigger word.

This will help in debugging a lot

[2019-05-14 17:08] gundeeps22 commented on #175
@gauthamzz We cannot do this because the website fast.com is dynamic meaning it will not have the proper value when we get the html. As a result, to get the appropriate data in the field we must run the JS code on the website much like a browser does, which is where the python code comes in.

[2019-05-14 17:08] gundeeps22 commented on #175
@sakshichahal53 So from what I understand, there are JS counterparts of the libraries used in the python; however, those libraries require npm packages to be downloaded. This would require one of two things. Either we include those packages in our project, or we run a script that downloads the npm packages on each system using the extension.

[2019-05-15 06:32] gauthamzz commented on #175
I think we can drop this feature for now then, i don't want to add python and js in the codebase.

I think we need to start a server then.

[2019-11-03 12:34] obasilakis opened #180 "Add the ability to scroll"
Can you please add the intents 'scroll up', 'scroll down', 'scroll top', 'scroll bottom', 'scroll right', 'scroll left'?

I've written some code and would love to open a PR after I've seen it working.

[2020-03-24 17:59] gauthamzz commented on #180
please make pr, ill add it

[2020-03-24 17:59] #175 closed

[2021-10-03 14:17] ria-19 commented on #166
Is this issue still open?

[2021-10-05 07:29] gauthamzz commented on #166
yes

[2021-10-06 06:31] ria-19 commented on #166
I would like to work on it, please assign it to me.

[2021-10-06 08:18] gauthamzz commented on #166
It's an open issue. If you have an idea for a skill open a new issue and I'll assign it to you